.App {
  text-align: center;
}

.Layout {
  background: rgb(61, 102, 182);
  background: linear-gradient(
    180deg,
    rgba(61, 102, 182, 1) 20%,
    rgba(9, 113, 152, 1) 46%,
    rgba(97, 189, 232, 1) 85%,
    rgba(0, 212, 255, 1) 100%
  );
}

.AboutCss {
  background: rgb(116, 63, 251);
  background: radial-gradient(
    circle,
    rgba(116, 63, 251, 1) 0%,
    rgba(70, 220, 252, 1) 100%
  );
}

.Layout1 {
  background: rgb(116, 142, 215);
  background: linear-gradient(
    180deg,
    rgba(116, 142, 215, 1) 3%,
    rgba(70, 252, 222, 1) 100%
  );
}

.AboutContainer {
  background: linear-gradient(
    180deg,
    rgb(78, 83, 95) 3%,
    rgba(0, 0, 0, 0.719) 100%
  );
}

.NavCSS {
  max-height: 100px;
  background: linear-gradient(180deg, rgb(14, 37, 95) 3%, rgb(6, 53, 45) 100%);
}
