.App {
  text-align: center;
}

.Layout {
  background: rgb(61, 102, 182);
  background: linear-gradient(
    180deg,
    rgba(61, 102, 182, 1) 20%,
    rgba(9, 113, 152, 1) 46%,
    rgba(97, 189, 232, 1) 85%,
    rgba(0, 212, 255, 1) 100%
  );
}

.AboutCss {
  background: rgb(116, 63, 251);
  background: radial-gradient(
    circle,
    rgba(116, 63, 251, 1) 0%,
    rgba(70, 220, 252, 1) 100%
  );
}

.Layout1 {
  background: rgb(77, 106, 187);
  background: linear-gradient(
    180deg,
    rgb(93, 125, 212, 1),
    rgba(99, 116, 204, 0.6)
  );
}

.AboutContainer {
  background: white;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4)
  );
}

.NavCSS {
  max-height: 100px;
  background: linear-gradient(180deg, rgb(10, 3, 95, 1), rgb(10, 3, 45, 0.8));
}
.Appx {
  display: flex;
  flex: content;
  justify-content: space-around;
  align-items: center;
}

.Profile-image {
  /* border-radius: 50%; */
  min-width: 20;
  padding: None;
}

.Project-Container {
  background: white;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 220, 252, 0.3)
  );
}
